span {
	font : italic normal normal 25px serif ;
	color : #023859;
	text-shadow : 0 5px 5px #023859;
}
	
body {
	background-image :linear-gradient(to right , #a7ebf2 , #54acbf , #26658c , #023859 , #011c40);
		overflow : hidden ;
}

nav{
	background-color : #26657c;
	box-shadow : 0 20px 10px 0 #26657c;
	text-align : center ;
	border-radius : 60px;
	height : 25px;
	
}
nav a {
	color : white ;
	padding : 10px;
	text-decoration : none ;
	
}
nav a:hover {
	color : #a7ebf2;
}

	
section h5 {
	background-color : #023859;
	height : 30px;
	border-radius : 50px;
	text-align : center ;
}
ol{
	list-style-type : disc;
	list-style-position : inside;
	
}
li{
	background : #26658c;
	height : 30px;
	border-radius : 20px;
	text-align : center ;
}
			

section h2 {
	text-decoration : underline ;
}
footer {
	text-decoration : underline ;
}
table{
	width : 80%;
	border-spacing :0;
}
th {
	background : #011c40;
	color : #abafb5;
	height : 30px;
}
td{
	background : #54acbf;
	height : 30px;
	text-align : center ;
	border : 1px solid #26658c;
}
.course {
	width : 50%;
	margin : 40px auto ;
	background : #023859;
	padding : 25px;
	border-radius : 15px;
	box-shadow : 0 5px 40px #011c40;
}
.course label {
	font-weight : bold ;
	color : #abafb5;
	display : block ;
	margin-bottom : 6px;
}
.course input ,
.course textarea {
	width : 80%;
	padding : 10px;
	margin-bottom : 15px;
	border : none ;
	border-radius : 8px;
	outline : none ;
	font-size : 15px;
	
}
button {
	background : #023859;
	border-radius : 50px;
	color : white ;
}


@media (max-width : 768px) {
body{
	overflow-x : hidden ;
}
  
    nav {
        display : flex;
        flex-direction : column;
        align-items : center;
		height : auto;
		padding : 10px;
		position : relative;
    }

    nav a {
        display : block;
        padding : 10px;
        width : 100%;
        text-align : center;
    }

   
    main {
        width: 95%;
        margin-top : 15px auto;
        padding: 10px;
    }

    
    .form-container {
        width: 95%;
        padding: 10px;
    }

   
    input, textarea, select {
        width: 100%;
        font-size: 9px;
    }

   
    table {
        width: 100%;
        font-size: 10px;
        overflow-x: auto;
        display: block;
    }

   
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 10px;
    }
}
